@font-face {
    font-family: 'JetBrains Mono';
    src: url("/fonts/JetBrainsMono-Regular.ttf");
}

.code-area {
    -fx-font-family: "JetBrains Mono", "Microsoft YaHei UI Light", "Consolas", "Monospaced";
}