.setting-item {
    /* 背景色*/
    -fx-background-color: -color-bg-default;

    /* 边框*/
    -fx-border-color: -color-border-muted;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;

    /* 背景圆角*/
    -fx-background-radius: 4px;
}
